# Ignore everything by default
*

# Allow specific Python files
!DataUtils.py
!gen_dataset.py
!image_enhance.py
!loss_functions.py
!Net.py
!resizeandpad.py
!train_pipeline.ipynb

# Allow specific documentation and config files
!LICENSE
!requirements.txt
!README.md

# Allow the Figures directory and its contents
!Figures/
!Figures/**

!Final_Weights/
!Final_Weights/** 

# Allow .gitignore itself
!.gitignore
# Explicitly ignore common unwanted files even if they match above patterns
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store